/* width */
::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
}
  
  
.accounts-header {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.total-accounts {
    font-size: 12px;
    font-weight: 600;
    color: #696969;
}

.user-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.btn {
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: #2563eb;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn:hover {
    background-color: #1e40af;
}

.create-account {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    min-width: 1000px;
}

.student-account, .teacher-account {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.student-account {
    border-right: solid 2px #075985;
}

.teacher-account {
    border-left: solid 2px #075985;
}

.student-title, .teacher-title {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    width: calc(11/12*100%);
}

.input-group {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.input-group label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #ebebeb;
    width: calc(5/6*100%);
}

.input-group input {
    width: calc(5/6*100%);
    border-radius: 7px;
    outline: none;
    border: none;
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #075985;
    color: #7dd3fc;
}

.input-group input::placeholder {
    color: #0284c7;
}