* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-height: 800px) {
    body {
        height: 900px;
        overflow: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f8fafc;
    /*
    background-color: #0c4a6e;
    */
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.page-content {
    background-color: #f8fafc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: calc(3/4*100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
    flex-grow: 1;
}

.page-header {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0c4a6e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-wrapper {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.card-box-wrapper {
    width: calc(1/4*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0369a1;
    width: calc(11/12*100%);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.card-box:hover {
    background-color: #0284c7;
}

.card-box-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    mix-blend-mode: soft-light;
    transition: 0.5s;
}

.card-box-bg:hover {
    height: 80%;
}

.card-title {
    font-size: 16px;
    color: #e0f2fe;
    font-weight: 700;
    width: calc(4/5*100%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-content {
    font-size: 14px;
    color: #e0f2fe;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-wrapper {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    overflow: auto;
    flex-grow: 1;
}

.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0c4a6e;
}

.section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
    flex-grow: 1;
}

.row {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
