aside {
    width: calc(1/4*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    
    background-color: #0c4a6e;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    /*
    */
}

.user-profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.user-profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: #bae6fd;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #0e7490;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #0891b2;
    color: #f0f9ff;
}

.aside-selected-link {
    color: #f0f9ff;
    background-color: #0891b2;
    font-weight: 600;
    border-radius: 0px;
}