.dialogue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ba;
    display: none;
    flex-direction: column;
    align-items: center;
}

.dialogue-inner {
    width: calc(100%*1/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111827;
}

.dialogue-header {
    width: calc(100%*11/12);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dialogue-title {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dialogue-close-btn {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.dialogue-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.dialogue-alert-message {
    position: absolute;
    top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background-color: #34d399;
}

.alert-success {
    background-color: #16a34a;
}