.list-control { 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.list {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f1f5f9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.list-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.list-item {
    flex: 1;
    color: #000;
    font-size: 12px;
    margin-right: 5px;
    padding-left: 20px;
}

.list-header-item {
    flex: 1;
    color: #64748b;
    margin-right: 5px;
    padding-left: 20px;
}