* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-bar {
    width: calc(1/6*100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100px;
    height: 80%;
    border-radius: 15px;
    background: #9733EE;
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);
    background: linear-gradient(to bottom, #9733EE, #DA23FF);
}

.container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    width: 100%;
    height: 40%;
    display: flex;
    position: relative;
}

.logoo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;

}

.home-page {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    height: max-content;
    color: rgb(244, 244, 244);
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.LO {
    margin-left: 5px;
}

.logout {
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: start;
}



section {
    width: calc(5/6*100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top_section {
    width: calc(11/12*100%);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center_section {
    width: calc(11/12*100%);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.slider {
    width: calc(11/12*100%);
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.abc {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student_info div {
    width: calc(1/2*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.student_info div label {
    width: calc(1/3*100%);
    font-weight: 600;
    font-size: 14px;
}

.student_info div div {
    font-size: 12px;
    padding-left: 10px;
}

.submit-btn {
    border: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2ca628;
    margin-top: 20px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 7px;
    color: #e7e7e7;
    transition: 0.5s;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1f751c;
}

.ac {
    height: 50px;
    /* background-color: red; */
    margin-bottom: 20px;
}

.exam_note, .control_note {
    width: calc(1/2*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.exam_note p, .control_note p {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
}

.notes {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bottom_section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_section h2 {
    color: #9733EE;
    margin-bottom: 20px;
}

/* --------------------------------------------notebook.php----------------------------------------------------- */
.top_section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top_section2 input {
    font-weight: 500;
    font-size: 12px;
    background-color: #e7e7e7;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    outline: none;
    min-width: 400px;
}

.edit_btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.btn_edit,
.save_btn {
    border: none;
    background-color: transparent;
    color: #4596c2;
    font-weight: bold;
    margin-top: 2px;
    cursor: pointer;
    margin-left: 40px;
}

.save_btn {
    background-color: #4596c2;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    opacity: 0;
    display: none;
}

.inp_SN {
    padding: 8px 180px;
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    text-align: start;
    padding-left: 5px;
    /* color: rgba(128, 128, 128, 0.726); */
    outline: none;

}

.inp_SN::placeholder {
    color: rgba(128, 128, 128, 0.726);
}

.btn_go {
    padding: 8px 50px;
    background-color: #2879a6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}


.slider_control_btns {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.prev {
    padding: 6px 40px;
    color: #2879a6;
    background-color: white;
    border: solid 2px #2879a6;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.next {
    padding: 8px 40px;
    color: white;
    background-color: #2879a6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.inp_bottom {
    flex: 2;
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
    color: gray;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn_cancel {
    padding: 0px 20px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px #4596c2;
    cursor: pointer;
    position: absolute;
    left: 40%;
}

.btn_cancel2 {
    padding: 0px 20px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px #4596c2;
    cursor: pointer;
    position: absolute;
    left: 25%;
}

.btn_save {
    padding: 5px 25px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #2879a6;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 70%;
}

/* -------------------------------------------attendance.php----------------------------------------------------- */

.top_section1_1 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.top_section1_1 input {
    font-weight: 600;
    background-color: #e7e7e7;
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 7px;
    width: 80%;
}

.top_section1_2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top_section1_2 input {
    font-weight: 600;
    background-color: #e7e7e7;
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 7px;
    width: 80%;
}

.slider2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.infos {
    min-width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos form:nth-child(n) {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_milieu_form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.infos form:nth-child(2) {
    flex-direction: column;
    align-items: center;

}


.yes {
    padding: 6px 50px;
    color: white;
    background-color: #2879a6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}

.no {
    padding: 5px 50px;
    color: #2879a6;
    background-color: white;
    border: solid 2px #2879a6;
    cursor: pointer;
    border-radius: 5px;
}