* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f8fafc;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.page-content {
    width: calc(3/4*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.page-header {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0c4a6e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-wrapper {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-box-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0885c9;
    width: calc(11/12*100%);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.card-box:hover {
    background-color: #075985;
}

.card-title {
    font-size: 16px;
    color: #c1d4dd;
    font-weight: 600;
    width: calc(4/5*100%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-content {
    font-size: 14px;
    color: #f0faff;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: calc(5/6*100%);
}

.section-wrapper {
    width: calc(11/12*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0c4a6e;
}

.section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wrapper {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon {
    width: 22px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.info-icon img {
    width: 100%;
}

.info-content {
    font-size: 12px;
    font-weight: 500;
}

.friends {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.friend:hover {
    background-color: #bababa7f;
    border-radius: 7px;
}

.friend {
    width: calc(1/4*100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 60px;
}

.friend img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.friend-name {
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
}

.subject_name {
    font-weight: 700;
    font-size: 14px;
}

.class_info {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.teacher_name {
    font-size: 10px;
}

.class_room {
    font-size: 10px;
    font-weight: 600;
}