.btn, .small-btn, .cancel-btn {
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #2563eb;
    border: solid 1px #2563eb;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.small-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: 600;
}

.cancel-btn {
    color: #2563eb;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    background-color: #06b6d4;
    border-color: #06b6d4;
}